#login-page {
  display: inline-block;
  padding: 0 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
  border-radius: 5px;
}

/* #login-page a {
  background-color: lightgray;
  border-style: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid dimgray;
  transition: 0.5s;
  color: black;
} */

#login-page .login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#login-page .login-form label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#login-page #play-button {
  width: 100%;
  font-size: larger;
  /* background-color: green; */
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid dimgray;
  transition: 0.5s;
  color: black;
}

#login-page #play-button:hover {
  border: 2px solid lightseagreen;
}

#login-page .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#login-page .title img {
  height: 20px;
}

#login-page label {
  margin-bottom: 20px;
}

#game-page {
  width: 50vw;
  display: inline-block;
  padding: 20px;
  /* background-color: rgba(105, 105, 105, 0.747); */
  color: white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
}

#game-page .title {
  display: flex;
  justify-content: space-between;
}

#game-page .status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#game-page .timer {
  font-size: xx-large;
}

#game-page .answers {
  display: flex;
  flex-direction: column;
}

#game-page .answers * {
  border-style: none;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid dimgray;
  transition: 0.5s;
}

#game-page .answers *:hover {
  border: 2px solid lightseagreen;
}

#game-page .button-container {
  height: 39px;
  display: flex;
  justify-content: center;
}

#game-page #next-button {
  background-color: lightgray;
  border-style: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid dimgray;
  transition: 0.5s;
}

#game-page #next-button:hover {
  background-color: green;
  color: white;
}

#game-page a {
  text-decoration: none;
  background-color: lightgray;
  border-style: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid dimgray;
  transition: 0.5s;
  color: black;
}

#game-page a:hover {
  background-color: green;
  color: white;
}

#feedback-page {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
  border-radius: 5px;
}

#feedback-page button {
  text-decoration: none;
  background-color: lightgray;
  border-style: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid dimgray;
  transition: 0.5s;
  color: black;
}

#feedback-page button:hover {
  background-color: green;
  color: white;
}

#ranking-page {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
  border-radius: 5px;
  position: absolute;
  top: 20px;
}

#ranking-page .player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

#ranking-page ol > li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  list-style-type: lower-alpha;
}

#ranking-page ol {
  padding: 0;
}

#ranking-page ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#ranking-page ul li {
  padding: 10px;
}

#ranking-page ol p {
  align-self: flex-start;
  padding: 10px;
  margin: 0;
}

#ranking-page .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#ranking-page .title button {
  text-decoration: none;
  background-color: lightgray;
  border-style: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid dimgray;
  transition: 0.5s;
  color: black;
}

#ranking-page .title button:hover {
  background-color: green;
  color: white;
}

@media screen and (max-width: 425px) {
  body {
    background-attachment: fixed;
  }
  
  #login-page,
  #game-page,
  #ranking-page,
  #feedback-page {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }

  #login-page .login-form {
    height: calc(45vh);
    justify-content: flex-end;
  }

  #game-page .title {
    position: relative;
  }

  #game-page .title a {
    position: absolute;
    right: 0;
    top: 0;
  }

  #game-page .timer {
    font-size: smaller;
  }

  #ranking-page {
    top: 0;
  }
}
